# Ignore the extracted dataset
training/dataset/ships_in_satellite_imagery

# Ignore pretrained network
training/pretrained/*
!training/pretrained/models_bundle_part1.zip
!training/pretrained/models_bundle_part2.zip
!training/pretrained/models_bundle_part3.zip
!training/pretrained/models_bundle_part4.zip
!training/pretrained/models_bundle_part5.zip

# Ignore everything inside downloads
downloads/raw/*
downloads/supersampled/*
!downloads/raw/.gitkeep
!downloads/supersampled/.gitkeep

# Ignore the virtual environment
venv

# Ignore the __pycache__
application/__pycache__