# Ignore the extracted dataset
training/dataset/ships_in_satellite_imagery

# Ignore pretrained network
training/pretrained

# Ignore everything inside downloads
downloads/*

# But do not ignore .gitkeep
!downloads/.gitkeep

# Ignore the virtual environment
venv
