# Ignore extracted datasets
training/dataset/*
!training/dataset/ships_in_satellite_imagery_part1.zip
!training/dataset/ships_in_satellite_imagery_part2.zip

# Ignore extracted pretrained network
training/pretrained/*
!training/pretrained/models_bundle_part1.zip
!training/pretrained/models_bundle_part2.zip
!training/pretrained/models_bundle_part3.zip
!training/pretrained/models_bundle_part4.zip
!training/pretrained/models_bundle_part5.zip
!training/pretrained/training_curves.png

# Ignore everything inside downloads
downloads/raw/*
downloads/upscaled/*
!downloads/raw/.gitkeep
!downloads/upscaled/.gitkeep

# Ignore everything inside downloads
results/raw/*
results/upscaled/*
!results/raw/.gitkeep
!results/upscaled/.gitkeep

# Ignore the virtual environment
venv

# Ignore the __pycache__
application/__pycache__